body{
    box-sizing:border-box;
    padding: 0;
    margin:0;
    background-color:rgb(57, 110, 117);
 
}
.header{
    width:100%
}
.header ul{
    list-style: none;
} 
.header li{
    display:inline-block;
    padding:10px;
    margin:2px;
    font-size: 25px;
    font-weight:400;
}
.header a{
    text-decoration: none;
    color: antiquewhite;
}
.header a:hover{
    text-decoration: underline;
    transition: ease-in-out;
}

.showcase{
    float:left;
    background:url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 55%;
    height:100%;
}
.showcase h2{
    color: blue;
}
/*.left{
    float:left;
    width:40%;
    padding: 70px 30px;
}*/
.left i{
    color:antiquewhite;
}
.left h1{
    margin-top: 15px;
  
    font-size: 55px;

    word-spacing:4px;
    color:rgb(9, 9, 9);
    font-family:'lato',sans-serif;
    white-space:inherit;

}
.left h2{
    margin-top:0px;
    align-items: flex-start;
    font-size: 25px;
    text-align: center;
    word-spacing: 4px;
    color: antiquewhite;
    font-family:'lato',sans-serif;
    white-space: inherit;
    margin-left: 5px;
}
.left h4{
    font-size: 66px;
    margin-top: -0.5cm;
    margin-left: 2cm;
}
.sign{
 
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin-top: 45px;
    margin-left: 60px;
}
.sign a{

    padding: 13px 100px;
    height: 1.3rem;
    border:0;
    background-color: rgb(165, 117, 70);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight:bold;
    text-decoration: wavy;
    color: rgb(191, 170, 142);
    text-align: center;
    display: block;
    font-family: 'lato',sans-serif;
}
.sign a:hover{
    background-color: rgb(235, 206, 143);
    transition: .15s ease-in-out;
}
.log h3{
    font-size: 17px;
    color: antiquewhite;
}
.log{
    float: left;
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin-top: 0px;
    margin-left: 60px;

}
.log a{
    padding: 13px 100px;
    height: 1.3rem;
    border:0;
    background-color:rgb(92, 52, 13);
    border: 3px solid rgb(191, 170, 142);
    border-radius: 50px;
    font-weight:bold;
    text-decoration: wavy;
    color: rgb(191, 170, 142);
    text-align: center;
    display: block;
    font-family: 'lato',sans-serif;
}
.log a:hover{
    background-color: rgb(235, 206, 143);
    transition: ease-in-out;
}
.footer{
    width:100%;
    float:left;
}
.footer ul{
    list-style: none;
} 
.footer li{
    display:inline-block;
    padding:10px;
    margin:2px;
    font-size: 25px;
    font-weight:400;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: antiquewhite;
}
.footer a:hover{
    text-decoration: underline;
    transition: ease-in-out;
}
.footer p{
    margin-top: 0;
    text-align: center;
    font-size: 13px;
}
